body {
  font-family: Verdana;
  background-color: #EEEEEE;
  padding: 0 20px;
  max-width: 800px;
  margin: 40px auto;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

h1, h2, h3 {
  font-family: "courier"
}

#career p {
  margin: 5px 0;
}

#career h4 {
  margin-top: 20px;
  margin-bottom: 6px;
}

.job-titles {
  font-weight: normal;
  font-style: italic;
}

a, a:visited {
  color: #1B6F1B;
}

dl {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

dt, dd { margin: 5px 10px; }

dl.socials { max-width: 300px; }

figure {
  margin: 0;
}
section {
  display: block;
  clear: both;
}

figure img {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

#hero-image {
  float: right;
}
